<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/graph.css">
    <title>Test 2</title>
</head>
<th:block layout:fragment="content">
    <body>

    <script th:inline="javascript">
        window.onload =  function() {
            var pontos = [[${pontos}]];
            drawChart(pontos,'line');
        }

        function drawChart(pontos,myType) {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "사용자 통계"
                },
                axisY:{
                    includeZero: false
                },
                data: [{
                    type: myType,
                    dataPoints: []
                }]
            });
            chart.render();

            chart.options.data[0].dataPoints = pontos;
            console.log(pontos);
            chart.render();

        }
        function fetchDataFromServer(myUrl,myType) {
            $.ajax({
                type: "GET",
                url: myUrl,
                success: function(data) {
                    drawChart(data,myType)
                },
                error: function() {
                    // 오류 발생 시 처리
                    console.log("Error fetching data from the server.");
                }
            });
        }
    </script>

    <div class="container" style="margin-top: 200px">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>

    <br>

    <div class="button-container">
        <button onclick="fetchDataFromServer('/api/statistics/count-by-created-at','line')">계정 생성일</button>
        <button onclick="fetchDataFromServer('/api/statistics/count-by-birth-year','bar')">사용자 생년월일</button>
        <button onclick="fetchDataFromServer('/api/statistics/count-by-birth-5year','pie')">사용자 연령통계</button>
    </div>

    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

    </body>
</th:block>
</html>