<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<title>AddPostTemp</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>


<th:block layout:fragment="content">

    <div class="layout container">
        <h1 style="text-align: center; margin-bottom: 50px;margin-top: 30px">임시 공고 등록</h1>

        <form style="max-width: 1040px;padding-left: 180px" action="#" th:action="@{/jobPostTemp/add}"
              th:object="${jobPostTempReqDTO}" method="post">
            <!-- TODO 유저로 뽑기 -->

            <div class="form-group row" style="padding-bottom: 10px">
                <label for="vender_id" class="col-sm-4 col-form-label">임시 회사 아이디 넣기 *</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{venderReqDTO.venderId}" id="vender_id" class="form-control"/>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="title" class="col-sm-4 col-form-label">TITLE *</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{title}" id="title" class="form-control"/>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="detail" class="col-sm-4 col-form-label">detail *</label>
                <div class="col-sm-8">
                    <textarea th:field="*{detail}" id="detail" class="form-control"
                              style="height: 500px; resize:none"></textarea>
                    <span th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></span>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label class="col-sm-4 col-form-label">직종</label>
                <div class="col-sm-8">
                    <div th:each="postWork : ${postWorkList}">
                        <input type="checkbox" th:field="*{work}" th:value="${postWork.value}"
                               th:id="'work-' + ${postWork.value}"
                               th:checked="${jobPostTempReqDTO.work != null and jobPostTempReqDTO.work.contains(postWork.value)}"
                        />
                        <label th:for="'work-' + ${postWork.value}" th:text="${postWork.label}"></label>
                    </div>
                </div>
            </div>

            <br/>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label class="col-sm-4 col-form-label">학력 요구조건</label>
                <div class="col-sm-8">
                    <div th:each="postReq : ${postReqList}">
                        <input type="checkbox" th:field="*{req}" th:value="${postReq.value}"
                               th:id="'req-' + ${postReq.value}"
                               th:checked="${jobPostTempReqDTO.req != null and jobPostTempReqDTO.req.contains(postReq.value)}"/>
                        <label th:for="'req-' + ${postReq.value}" th:text="${postReq.label}"></label>
                        <span th:if="${#fields.hasErrors('req')}" th:errors="*{req}"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="salary" class="col-sm-4 col-form-label">연봉</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{salary}" id="salary" class="form-control">
                    <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="endTime" class="col-sm-4 col-form-label">마감일</label>
                <div class="col-sm-8">
                    <input type="datetime-local" th:field="*{endTime}" id="endTime" class="form-control">
                    <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span>
                </div>
            </div>

            <hr style="width: 100%">

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="zipcode" class="col-sm-4 col-form-label">우편번호</label>
                <div class="col-sm-8" ; style="display: flex; align-items: center;">
                    <!-- 여기서 col-sm-10을 사용하여 input과 버튼을 한 행에 나오게 설정 -->
                    <input type="text" th:field="*{zipcode}" id="zipcode" class="form-control">
                    <span th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></span>
                    <input type="button" value="우편번호 검색" onclick="findAddr()" class="btn btn-primary"
                           style="margin-left:5px">
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="streetAddr" class="col-sm-4 col-form-label">도로명주소</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{streetAddr}" id="streetAddr" class="form-control">
                    <span th:if="${#fields.hasErrors('streetAddr')}" th:errors="*{streetAddr}"></span>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">
                <label for="detailAddr" class="col-sm-4 col-form-label">상세주소</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{detailAddr}" id="detailAddr" class="form-control">
                    <span th:if="${#fields.hasErrors('detailAddr')}" th:errors="*{detailAddr}"></span>
                </div>
            </div>

            <div class="form-group row" style="padding-bottom: 10px;">

                <label for="extraAddr" class="col-sm-4 col-form-label">참고항목</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{extraAddr}" id="extraAddr" class="form-control">
                    <span th:if="${#fields.hasErrors('extraAddr')}" th:errors="*{extraAddr}"></span>
                </div>
            </div>
            <hr>
            <div id="map" style="width: 100%; height: 400px; position: relative;">
                <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">지도에 위치정보가 표시됩니다.</span>
            </div>
            <hr>
            <input type="submit" value="SUBMIT" class="btn btn-primary" style="float: right">

        </form>

    </div>

</th:block>
<div th:replace="fragments/footer :: footerFragment"></div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>