<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">

    <div class="container" style="max-width: 1120px; padding-top: 30px">
        <<h2 class="resumeH2 text-center">기업 회원 목록</h2>
        <button onclick="location.href='/account/loginpage'" class="btn btn-primary"
                style="float: right; margin-bottom: 10px">로그아웃
        </button>
        <table border="1" class="table">

            <thead class="thead-light">
            <tr class="text-center">
                <th>SEQ</th>
                <th>ID</th>
                <th>Vender Name</th>
                <th>Vender Email</th>
                <th>Vender CreatedDt</th>
                <th>Vender UpdateDt</th>
                <th>Vender Logo</th>

            </tr>
            </thead>

            <tbody>
            <tr class="text-center" th:each="vender, venderState : ${venders}">

                <th scope="row">
                    <span th:text="${venderState.count}"></span> <!-- index는 0부터 , count가 1부터 -->
                </th>

                <td>
                    <span th:text="${vender.venderId}"></span>
                </td>

                <td>
                    <span th:text="${vender.venderName}"></span>
                </td>

                <td>
                    <span th:text="${vender.venderEmail}"></span>
                </td>

                <td>
                    <span th:text="${#temporals.format(vender.createDt, 'yyyy-MM-dd HH:mm')}"></span>
                </td>

                <td>
                    <span th:text="${#temporals.format(vender.updateDt, 'yyyy-MM-dd HH:mm')}"></span>
                </td>

                <td>
                    <span><img th:src="${vender.photo}" alt="기업로고"/></span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <!--  ---------------------------------------------------페이지네이션------------------------------------------------  -->
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 10px">
        <div th:if="${venders.totalPages > 1}">
            <ul class="pagination">
                <li th:if="${venders.hasPrevious}" class="page-item">
                    <a th:href="@{/admin/showv(page=0, size=${venders.size})}" class="page-link">First</a>
                </li>
                <li th:if="${venders.hasPrevious}" class="page-item">
                    <a th:href="@{/admin/showv(page=${venders.number - 1}, size=${venders.size})}"
                       class="page-link">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, venders.totalPages - 1)}" class="page-item">
                    <a th:href="@{/admin/showv(page=${i}, size=${venders.size})}" class="page-link"
                       th:text="${i + 1}"></a>
                </li>
                <li th:if="${venders.hasNext}" class="page-item">
                    <a th:href="@{/admin/showv(page=${venders.number + 1}, size=${venders.size})}"
                       class="page-link">Next</a>
                </li>
                <li th:if="${venders.hasNext}" class="page-item">
                    <a th:href="@{/admin/showv(page=${venders.totalPages - 1}, size=${venders.size})}"
                       class="page-link">Last</a>
                </li>
            </ul>
        </div>
    </div>

</th:block>
</html>