<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<link rel="stylesheet" type="text/css" href="/css/vender_temp_list.css">
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const allowButtons = document.querySelectorAll('.allow-button');
        const refuseButtons = document.querySelectorAll('.refuse-button');

        allowButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const postId = button.getAttribute('data-id');
                updateReqState(postId, 'allow'); // 허가 상태로 업데이트
            });
        });

        refuseButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const postId = button.getAttribute('data-id');
                updateReqState(postId, 'refuse'); // 거부 상태로 업데이트
            });
        });

        function updateReqState(id, action) {
            // Send an AJAX request to update the reqState for the specified post
            const url = '/api/vender/' + action + '/' + id; // 액션(허가 또는 거부) 및 ID를 URL에 추가
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id }), // JSON 데이터를 전송
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error('Error updating reqState:', data.error);
                    } else if (data.message === 'success') {
                        const row = document.getElementById('row_' + id);
                        // Example: Update the 'state' column
                        const reqStateCell = document.getElementById('reqState_' + id);
                        if (reqStateCell) {
                            reqStateCell.textContent = action === 'allow' ? 'A' : 'R';
                        } else {
                            console.error('reqState-column not found in row:', id);
                        }
                    } else {
                        console.error('Unknown response:', data);
                    }
                })
                .catch(error => {
                    console.error('Error updating reqState:', error);
                });
        }
    });
</script>
<body>
<!--Header 영역을 참조합니다.-->
<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
<th:block layout:fragment="content">
    <h2 class="resumeH2 text-center">기업 신청 목록</h2>
    <div class="container">
        <table border="1">
            <tr>
                <th>SEQ</th>
                <th>reqState</th>
                <th>ID</th>
                <th>회사명</th>
                <th>회사 Email</th>
                <th>CreatedDt</th>
                <th>UpdateDt</th>
                <th>회사 로고</th>
                <th>허가</th>
                <th>거절</th>

            </tr>
            <tr th:each="vender, venderState : ${venders}">
                <td th:text="${venderState.count}"></td> <!-- index는 0부터 , count가 1부터 -->
                <td th:id="'reqState_' + ${vender.id}" th:text="${vender.reqState}" data-postid="${vender.id}"></td>
                <td th:text="${vender.id}"></td>
                <td th:text="${vender.name}"></td>
                <td th:text="${vender.email}"></td>
                <td th:text="${#temporals.format(vender.createDt, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#temporals.format(vender.updateDt, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <img class="jobBoxImg" th:src="@{/img/vender/} + ${vender.photo}" alt="회사로고이미지"/>
                </td>
                <td>
                    <button th:id="'allowButton_' + ${vender.id}" th:attr="data-id=${vender.id}" class="allow-button">허가
                    </button>
                </td>
                <td>
                    <button th:id="'refuseButton_' + ${vender.id}" th:attr="data-id=${vender.id}" class="refuse-button">거절
                    </button>
                </td>

            </tr>
        </table>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 10px">
        <div th:if="${venders.totalPages > 1}">
            <ul class="pagination">
                <li th:if="${venders.hasPrevious}" class="page-item">
                    <a th:href="@{/admin/showTempVender(page=0, size=${venders.size})}" class="page-link">First</a>
                </li>
                <li th:if="${venders.hasPrevious}" class="page-item">
                    <a th:href="@{/admin/showTempVender(page=${venders.number - 1}, size=${venders.size})}"
                       class="page-link">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, venders.totalPages - 1)}" class="page-item">
                    <a th:href="@{/admin/showTempVender(page=${i}, size=${venders.size})}" class="page-link"
                       th:text="${i + 1}"></a>
                </li>
                <li th:if="${venders.hasNext}" class="page-item">
                    <a th:href="@{/admin/showTempVender(page=${venders.number + 1}, size=${venders.size})}"
                       class="page-link">Next</a>
                </li>
                <li th:if="${venders.hasNext}" class="page-item">
                    <a th:href="@{/admin/showTempVender(page=${venders.totalPages - 1}, size=${venders.size})}"
                       class="page-link">Last</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:if="${venders.totalPages > 1}">
        <ul class="pagination">
            <li th:if="${venders.hasPrevious}" class="page-item">
                <a th:href="@{/admin/showTempVender(page=0, size=${venders.size})}" class="page-link">First</a>
            </li>
            <li th:if="${venders.hasPrevious}" class="page-item">
                <a th:href="@{/admin/showTempVender(page=${venders.number - 1}, size=${venders.size})}" class="page-link">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, venders.totalPages - 1)}" class="page-item">
                <a th:href="@{/admin/showTempVender(page=${i}, size=${venders.size})}" class="page-link"
                   th:text="${i + 1}"></a>
            </li>
            <li th:if="${venders.hasNext}" class="page-item">
                <a th:href="@{/admin/showTempVender(page=${venders.number + 1}, size=${venders.size})}" class="page-link">Next</a>
            </li>
            <li th:if="${venders.hasNext}" class="page-item">
                <a th:href="@{/admin/showTempVender(page=${venders.totalPages - 1}, size=${venders.size})}"
                   class="page-link">Last</a>
            </li>
        </ul>
    </div>
</th:block>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>