<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<th:block layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>회사명</th>
            <th>공고 제목</th>
            <th>지원일</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="applyList : ${applyList}">
            <td th:text="${applyList.id}"></td>
            <td th:text="${applyList.venderEntity.venderName}"></td>
            <td th:text="${applyList.jobPostEntity.title}"></td>
            <td th:text="${#temporals.format(applyList.apply_date, 'yyyy년 MM월 dd일 HH시mm분')}"></td>
            <td><a th:href="'/jpApply/deleteApply?jpApplyId=' + ${applyList.id}" onclick="return confirmCancellation();">지원취소</a></td>
        </tr>
        </tbody>
    </table>
</th:block>
<script>
    function confirmCancellation() {
        return confirm("정말로 지원을 취소하시겠습니까?");
    }
</script>
</html>