<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
<!--Header 영역을 참조합니다.-->
<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
<th:block layout:fragment="content">
    <div class="container" style="max-width: 1120px; padding-top: 50px">
        <div style="padding-bottom: 10px">
            전체 게시글 수: <span th:text="${list.totalElements}"></span>
        </div>

        <div class="form-group d-flex" style="align-items: center; margin-bottom: 10px">
            <form action="/adviceboard/list" method="get" class="d-flex" style="align-items: center;">
                <label for="filterCategory" class="mr-2"><strong>카테고리 필터:</strong></label>
                <select id="filterCategory" name="filterCategory" class="form-control"
                        style="width: 200px;margin-left: 10px; text-align: center">
                    <option value="all" th:selected="${filterCategory == 'all'}">모든 카테고리</option>
                    <option value="신입" th:selected="${filterCategory == '신입'}">신입</option>
                    <option value="취준" th:selected="${filterCategory == '취준'}">취준</option>
                    <option value="이직" th:selected="${filterCategory == '이직'}">이직</option>
                    <option value="면접" th:selected="${filterCategory == '면접'}">면접</option>
                    <option value="자소서" th:selected="${filterCategory == '자소서'}">자소서</option>
                    <option value="Q&A" th:selected="${filterCategory == 'Q&A'}">Q&A</option>
                    <option value="잡담" th:selected="${filterCategory == '잡담'}">잡담</option>
                    <option value="채용공고" th:selected="${filterCategory == '채용공고'}">채용공고</option>
                    <!-- 다른 카테고리 옵션 추가 -->
                </select>
                <button type="submit" class="btn btn-primary ml-2" style="margin-left: 10px ">카테고리 적용</button>
            </form>

            <form action="/adviceboard/list" method="get" class="d-flex ml-2"
                  style="align-items: center;margin-left:402px">
                <label for="sort" class="mr-2" style="margin-right: 8px">정렬 </label>
                <select name="sort" id="sort" class="form-control" style="width: 180px;text-align: center">
                    <option value="id,desc" th:selected="${sort == 'id,desc'}">작성일(최신순)</option>
                    <option value="id,asc" th:selected="${sort == 'id,asc'}">작성일(오래된순)</option>
                    <option value="commentCount,desc" th:selected="${sort == 'commentCount,desc'}">댓글(많은순)</option>
                    <option value="commentCount,asc" th:selected="${sort == 'commentCount,asc'}">댓글(적은순)</option>
                    <option value="views,desc" th:selected="${sort == 'views,desc'}">조회수(많은순)</option>
                    <option value="views,asc" th:selected="${sort == 'views,asc'}">조회수(적은순)</option>
                </select>
                <button type="submit" class="btn btn-primary ml-2" style="margin-left: 10px">정렬 적용</button>
            </form>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" style="width: 110px">id</th>
                <th scope="col" style="width: 300px">제목</th>
                <th scope="col" style="width: 180px">작성자</th>
                <th scope="col" style="width: 150px">작성일</th>
                <th scope="col" style="width: 110px">댓글수</th>
                <th scope="col" style="width: 110px">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="adviceboard : ${list}">
                <th scope="row">
                    <span th:text="${adviceboard.id}"></span>
                </th>

                <td>
                    <a class="post-link" th:href="@{'/adviceboard/view/' + ${adviceboard.id}}">
                        <span th:text="${adviceboard.title}"></span>
                    </a>
                </td>

                <td>
                    <span th:text="${adviceboard.writer}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(adviceboard.regDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td>
                    <span th:text="${adviceboard.commentCount}"></span>
                </td>
                <td>
                    <span th:text="${adviceboard.views}"></span>
            </tr>
            </tbody>
        </table>

        <div class="form-group d-flex justify-content-between align-items-center" style="margin-top: -12px">
            <form th:action="@{/adviceboard/list}" method="get">
                <div class="d-flex">
                    <select id="searchType" name="searchType"
                            style="width: 80px; text-align: center; margin-right: 10px">
                        <option value="writer">작성자</option>
                        <option value="title">제목</option>
                    </select>
                    <input type="text" id="searchKeyword" name="searchKeyword" placeholder="검색어를 입력하세요"
                           th:value="${searchKeyword}"/>
                    <button type="submit"
                            style="margin-left: 3px; border: 1px solid #000;padding-left: 5px;padding-right: 5px"> 검색
                    </button>
                </div>
            </form>

            <div class="col-auto" style="padding-right: 100px">
                <a href="/adviceboard/write" class="btn btn-primary ml-2">글쓰기</a>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 10px">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <ul class="pagination">
                    <li class="page-item" th:if="${list.hasPrevious() and not list.first}"
                        th:classappend="${list.first? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/adviceboard/list?page=' + ${list.number - 1}}">이전</a>
                    </li>

                    <li th:each="page : ${#numbers.sequence(0, list.totalPages - 1)}"
                        th:classappend="${page == list.number? 'active' : ''}">
                        <a class="page-link" th:href="@{'/adviceboard/list?page=' + ${page}}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${list.hasNext()}" th:classappend="${list.last? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/adviceboard/list?page=' + ${list.number + 1}}">다음</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>


    <!--    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
</th:block>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>
<style>
    /*.pagination {*/
    /*    display: inline-block;*/
    /*}*/

    .btn-primary {

    }

    .pagination {
        position: sticky;
        bottom: 0;
        background-color: #fff; /* 원하는 배경색 설정 */
    }

    .pagination li {
        display: inline;
        margin: 0 5px; /* 페이지 번호 간의 간격 조정 */
    }

    .page-item {
        list-style: none;
    }

    .form-group > div {
        margin-right: -100px; /* 각 열 간 간격 조절 */
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    .text-center:hover {
        font-weight: bold;
    }
</style>


</html>