<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">

<th:block layout:fragment="content">
<div class="layout container" style="max-width: 1000px">
    <form th:action="@{/adviceboard/update/{id}(id=${adviceboard.id})}" method="post">
        <h2 style="font-size: 1.5rem">카테고리</h2>
        <select name="category" class="form-control">
            <option value="IT" th:selected="${adviceboard.category == 'IT'}">IT</option>
            <option value="디자인" th:selected="${adviceboard.category == '디자인'}">디자인</option>
            <option value="이직질문" th:selected="${adviceboard.category == '이직질문'}">이직질문</option>
            <option value="채용공고" th:selected="${adviceboard.category == '채용공고'}">채용공고</option>
        </select>
        <br>
        <h2 style="font-size: 1.5rem">제목</h2>
        <input name="title" type="text" th:value="${adviceboard.title}" class="form-control">
        <br>
        <h2 style="font-size: 1.5rem">작성자</h2>
        <input name="writer" type="text" th:value="${adviceboard.writer}" class="form-control">
        <br>
        <h2 style="font-size: 1.5rem">내용</h2>
        <textarea name="content" th:text="${adviceboard.content}" class="form-control"
                  style="resize: none; height: 200px"></textarea>
        <br>

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>

</th:block>
</html>