<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<head th:replace="fragments/navbar :: navbarFragment"></head>
<meta charset="UTF-8">
<title>ModifyAdvice</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="layout container">
    <form th:action="@{/adviceboard/update/{id}(id=${adviceboard.id})}" method="post">
        <h3>카테고리</h3>
        <select name="category" class="form-control">
            <option value="IT" th:selected="${adviceboard.category == 'IT'}">IT</option>
            <option value="디자인" th:selected="${adviceboard.category == '디자인'}">디자인</option>
            <option value="이직질문" th:selected="${adviceboard.category == '이직질문'}">이직질문</option>
        </select>
        <br>
        <h3>제목</h3>
        <input name="title" type="text" th:value="${adviceboard.title}" class="form-control">
        <br>
        <h3>작성자</h3>
        <input name="writer" type="text" th:value="${adviceboard.writer}" class="form-control">
        <br>
        <h3>내용</h3>
        <textarea name="content" th:text="${adviceboard.content}" class="form-control"></textarea>
        <br>

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>