<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div class="mt-5">
            <div class="ftBtn">
                <ul>
                    <li class="first"><a href="#">회사소개</a></li>
                    <li class="first"><a href="#">인재채용</a></li>
                    <li class="first"><a href="#">회원약관</a></li>
                    <li class="first"><a href="#">개인정보처리방침</a></li>
                    <li class="first"><a href="#">이메일무단수집거부</a></li>
                    <li class="first"><a href="#">채용정보 API</a></li>
                    <li class="first"><a href="#">제휴문의</a></li>
                    <li class="first"><a href="#">고객센터</a></li>
                </ul>
            </div>
            <div class="inner">
                <a href="#" class="logo">
                    <img th:src="@{/img/logo/title_footer.png}" alt="logo" style="width: 150px;">
                </a>
                <small>
                    <small class="text-muted">
                        <p>개발바닥 고객센터 <span>02-1234-5678</span> (평일 <span>09:00~19:00</span>, 주말·공휴일 휴무)</p>
                        <div class="btns"> 이메일 : <span>help@gebalbadac.co.kr</span>, Fax : <span>02-1234-5678</span>(대표),<span>02-8765-4321</span>(세금계산서) </div>
                    </small>
                    <p>
                        <small class="text-muted">Copyright © 개발바닥. All Rights Reserved.</small>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</th:block>
</html>