<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div class="mt-5">
            <div class="ftBtn">
                <ul>
                    <li class="first"><a href="#">회사소개</a></li>
                    <li class="first"><a href="#">인재채용</a></li>
                    <li class="first"><a href="#">회원약관</a></li>
                    <li class="first"><a href="#">개인정보처리방침</a></li>
                    <li class="first"><a href="#">이메일무단수집거부</a></li>
                    <li class="first"><a href="#">채용정보 API</a></li>
                    <li class="first"><a href="#">제휴문의</a></li>
                    <li class="first"><a href="#">고객센터</a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="#"><img th:src="@{/img/title_footer.png}" alt="logoo" style="width: 200px;"></a>
            </div>
            <div class="text-center">
                <p>
                    <small class="text-muted">Copyright © SpringBoot. All Rights Reserved.</small>
                </p>
            </div>
        </div>
    </footer>
</th:block>
</html>