<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navbarFragment">
    <nav>
        <div class="container">
            <div>

                <ul style="display: flex" class="menu">
                    <li>
                        <a class="navbar-brand" th:href="@{/job_post/jobList}">
                            <img th:src="@{/img/logo/title_header.png}" alt="logo" style="width: 150px;"/>
                        </a>
                    </li>
                    <li><a href="#" class="menuBtn">공고보기</a></li>
                    <li>|</li>
                    <li><a href="#" class="menuBtn">기업정보보기</a></li>
                    <li>|</li>
                    <li><a href="#" class="menuBtn">커뮤니티</a></li>
                    <li>
                        <div class="search">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <input type="text" placeholder="검색">
                        </div>
                    </li>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            기업서비스
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">로그인</a></li>
                            <li><a class="dropdown-item" href="#">공고등록</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>