<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navbarFragment">
    <nav>
        <div class="container">
            <div>
                <ul style="display: flex">
                    <li>
                        <a class="navbar-brand" href="#">
                            <img th:src="@{/img/title_header.png}" alt="logo" style="width: 150px;"/>
                        </a>
                    </li>
                    <li><a href="#">공고보기</a></li>
                    <li>|</li>
                    <li><a href="#">기업정보보기</a></li>
                    <li>|</li>
                    <li><a href="#">커뮤니티</a></li>
                    <li>
                        <div class="search">
                            <input type="text" placeholder="검색어 입력">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                        </div>
                    </li>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            기업서비스
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">로그인</a></li>
                            <li><a class="dropdown-item" href="#">공고등록</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</th:block>
</html>