body, html, a, button, table, input, select, textarea {font-family: 'Pretendard',serif;color: #000;font-size:18px;}
body {letter-spacing:-.025em; overflow-y: scroll;}

/* 말줄임 */
.ellipsis{white-space:nowrap !important; overflow:hidden !important; text-overflow:ellipsis !important;display: block;}
.ellipsis2{overflow: hidden !important;text-overflow: ellipsis !important;display: -webkit-box !important; -webkit-line-clamp: 2 !important; -webkit-box-orient: vertical !important;display: block;}
.ellipsis3{overflow: hidden !important;text-overflow: ellipsis !important;display: -webkit-box !important; -webkit-line-clamp: 3 !important; -webkit-box-orient: vertical !important;display: block;}
.ellipsis4{overflow: hidden !important;text-overflow: ellipsis !important;display: -webkit-box !important; -webkit-line-clamp: 4 !important; -webkit-box-orient: vertical !important;display: block;}

.main_hd{background:#fff;transition: all 0.3s ease;}
.main_hd.on{border-bottom:#ddd;box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);}

.container {width: 1200px;max-width: none !important;/* height: 700px; */}

.container.search::after {
    height: 700px;
}/*navbar*/

nav{width: 100%;z-index: 100;display: block;/* box-sizing: border-box; */position: sticky;top: 0;/* background-color: #fff; */box-shadow: 0 5px 10px -8px #eee;}

.menu{margin: 0;justify-content: space-between;align-items: center;padding: 0;/* margin-right: 10px; */}
nav{width: 100%;z-index: 100;/* box-sizing: border-box; */position: sticky;top: 0;/* background-color: #fff; *//* box-shadow: 0 5px 10px -3px #eee; */}

.nav-brand{
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.menu{margin: 0;justify-content: space-between;align-items: center;}
.menu li{line-height: 55px;}
.menu li:nth-child(7){/* margin-top: 5px; */line-height: 0;margin-left: 300px;}
.menu li:nth-child(3),
.menu li:nth-child(5){color: #eee;}
.menuBtn{font-weight: 700;color: #444;margin: 0 10px;}
.menuBtn:hover{color: #1187CF; text-decoration: none;}

.navigator a{font-size:16px; color: #444; text-decoration-line: none;}
.navigator a ~ a{margin-left:10px;}

.search {display:flex;justify-content: center;margin: 100px auto 50px;}

.sch{position: relative;width: 750px;border: 3px solid #0097f3;border-radius: 20px 0 0 20px;padding: 20px 30px;box-sizing: border-box;background: #fff;}
.search input {width: 100%;border: none;font-size: 20px;outline: none;}
.search img {position : absolute;width: 17px;top: 10px;right: 12px;margin: 0;}
.schBtn{background-color:#0097f3;/* margin-left: 10px; */width: 76px;border-radius: 0 20px 20px 0; display: flex; justify-content: center;}
.schBtn i{color: #fff; font-size: 35px;}
/*footer*/
footer{display: block;clear: both;position: relative;z-index: 1;margin-top: 110px;width: 100%;min-width: 960px;height: 297px;}

.ftBtn ul{margin: 10px auto;width: 1260px;display: flex;flex-flow: row nowrap;justify-content: space-around;padding: 10px;}
.ftBtn ul li a{display: inline-flex;color: #333;font-size: 13px;line-height: 24px;letter-spacing: -1px;}
.inner{position: relative;margin: 0 auto;padding: 60px 0 21px 260px;width: 960px;box-sizing: border-box;font-size: 18px;font-weight: 500;font-family: 'Pretendard';text-align: left;}
.inner .logo{display: block;position: absolute;top: 60px;left: 20px;width: 158px;height: 31px;}
.main_vs{cursor: pointer;}