
 body {
     background-color: #ffffff;
     font-family: Arial, sans-serif; /* 원하는 폰트 설정 */
 }

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #c0c0c0; /* 테두리 스타일링 */
}

th {
    background-color: #7A7A7A; /* 머리글 배경색 설정 */
    color: #ffffff; /* 글자색 설정 */
}


