<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회사회원 로그인</h1>
<form action="/account/loginv" method="post">
    <input type="text" name="venderEmail" placeholder="이메일@aaa" class="in">
    <input type="password" name="venderPasswd" placeholder="비밀번호" class="in">
    <input type="submit" id="btn" value="로그인"><br>
    <button type="button" onclick="location.href='http://localhost/account/signuppagev'">회원가입</button>
</form>
</body>
</html>