<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<th:block layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <!--가입성공 메세지-->
    <script th:if="${successMessage}">
        alert("회원가입 완료!");
    </script>

    <!--로그인 실패 메세지-->
    <script th:if="${loginx}">
        alert("로그인 실패!\n이메일 또는 비밀번호 확인");
    </script>
    <h2 class="resumeH2 text-center">회사회원 로그인</h2>
    <form action="/account/loginv" method="post">
        <input type="text" name="venderEmail" placeholder="이메일@aaa" class="in">
        <input type="password" name="venderPasswd" placeholder="비밀번호" class="in">
        <input type="submit" id="btn" value="로그인"><br>
        <button type="button" onclick="location.href='http://localhost/account/signuppagev'">회원가입</button>
    </form>
    </body>
</th:block>
<script>
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    // 위의 함수를 호출하여 쿠키를 설정
    setCookie("myTokenCookie", myToken, 30); // 30은 쿠키의 유효 기간을 나타냅니다. 필요에 따라 조절할 수 있습니다.
</script>
</html>