<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="/css/mypageu.css">
</head>
<th:block layout:fragment="content">

    <meta charset="UTF-8">
    <title>Title</title>

    <script>

        //가입 시 이메일 중복 확인 함수
        //가입 시 빈칸 확인 함수
        function form_check() {
            var userName = document.getElementById('u_name').value;
            var passwd = document.getElementById('pwd').value;
            var repwd = document.getElementById('repwd').value;
            var phone = document.getElementById('mobile').value;

            //이 조건문 왜 안될까
            if (passwd !== repwd) {
                alert('비밀번호를 다시 확인하세요.');
                return false;
            }

            if (userName === '') {
                alert('변경할 이름을 입력하세요.');
                return false;
            }

            if (passwd === '') {
                alert('변경할 비밀번호를 입력하세요.');
                return false;
            }

            if (phone === '') {
                alert('변경할 전화번호를 입력하세요.');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>

<form name="update_form" th:action="@{/account/updateu/{id}(id=${user.getUserId()})}" th:object="${userReqDTO}" method="post" id="update_form" enctype="multipart/form-data" onsubmit="return form_check()">
    <fieldset>
        <legend>회원정보 수정</legend>
        <br>
        <div class="emailview">
            <h5>email: </h5>
            <h5 th:text= "${user.getUserEmail()}"></h5>
        </div>
        <p>
            <label for="u_name">이름</label>
            <input type="text" name="userName" id="u_name" th:value="${user.getUserName()}">
            <br>
            <span class="err_name"></span>
        </p>

        <p>
            <label for="pwd">변경할 비밀번호</label>
            <input type="password" name="passwd" id="pwd">
            <br>
        </p>
        <p>
            <label for="repwd">비밀번호 확인</label>
            <input type="password" name="repwd" id="repwd">
            <br>
            <span class="err_repwd"></span>
        </p>

        <p>
            <label for="mobile">변경할 전화번호</label>
            <input type="text" name="phone" id="mobile" th:value="${user.getPhone()}">
            <br>
            <span class="err_mobile">* '-'없이 숫자만 입력</span>
        </p>

        <p class="final_btn">
            <a href="javascript:history.back();" class="btn">취소</a>
            <button type="submit" id="updatebutton" class="btn">수정</button>
        </p>
    </fieldset>
</form>
</body>
</th:block>
</html>