<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="/css/signupu.css">
</head>
<th:block layout:fragment="content">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>일반회원 회원가입</title>
    <script>

        //가입 시 이메일 중복 확인 함수
        function checkEmailDuplication() {
            var userEmail = document.getElementById('u_email').value;
            //db의 값에 있는 컬럼들과 비교해야함.
            var isEmailDuplicated = (userEmail === '중복@중복');

            var sendButton = document.getElementById('sendBtn');
            if (isEmailDuplicated) {
                alert('이미 가입된 이메일입니다.');
                sendButton.disabled = true;
                document.getElementById('join_form').onsubmit = function () {
                    alert('이메일 중복 확인을 해주세요.');
                    return false;
                };
            } else {
                alert('사용 가능한 이메일입니다.');
                sendButton.disabled = false;
                // document.getElementById('join_form').onsubmit = null; // 폼 제출 기능 활성화

            }
        }
        //가입 시 빈칸 확인 함수
        function form_check() {
            var userName = document.getElementById('u_name').value;
            var userEmail = document.getElementById('u_email').value;
            var passwd = document.getElementById('pwd').value;
            var repwd = document.getElementById('repwd').value;
            var phone = document.getElementById('mobile').value;
            var agreeCheckbox = document.getElementById('agree');

            //이 조건문 왜 안될까
            if (passwd !== repwd) {
                alert('비밀번호를 다시 확인하세요.');
                return false;
            }

            if (userName === '') {
                alert('이름을 입력하세요.');
                return false;
            }

            if (userEmail === '') {
                alert('이메일을 입력하세요.');
                return false;
            }

            if (passwd === '') {
                alert('비밀번호를 입력하세요.');
                return false;
            }

            if (phone === '') {
                alert('전화번호를 입력하세요.');
                return false;
            }

            if (!agreeCheckbox.checked) {
                alert('약관 동의는 필수입니다.');
                return false;
            }

            return true;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        var isCertification = false;

        function sendNumber() {
            $("#mail_number").css("display", "block");
            $.ajax({
                url: "/mail",
                type: "post",
                crossDomain: true,
                headers: {'Access-Control-Allow-Origin': 'http://The web site allowed to access'},
                dataType: "json",
                data: {"mail": $("#u_email").val()},
                success: function (data) {
                    alert("인증번호 발송");
                    var message = data.message;
                    console.log("message= " + message); // 이메일 전송에 성공했습니다.
                    // 이제 message 변수에 서버에서 보낸 메시지가 들어 있습니다.
                    var confirmationNumber = data.confirmationNumber;
                    console.log("confirmationNumber= " + confirmationNumber);

                    $("#Confirm").val(confirmationNumber);
                    isCertification = false;
                },

                error: function (xhr, status, error) {
                    alert("code: " + xhr.status + "\n" + "message: " + xhr.responseText + "\n" + "error: " + error);
                }
            });
        }

        function confirmNumber() {
            var enteredNumber = $("#number").val();
            var confirmationNumber = $("#Confirm").val();
            const $resultMsg = $('#mail-check-warn');
            console.log(confirmationNumber);
            if (enteredNumber === confirmationNumber) {
                $resultMsg.html('인증 성공');
                $resultMsg.css('color', 'green');
                isCertification = true;
                $("#signupButton").prop("disabled", false); // Enable the signup button
            } else {
                $resultMsg.html('인증번호 불일치');
                $resultMsg.css('color', 'red');
                isCertification = false;
                $("#signupButton").prop("disabled", true); // Disable the signup button
            }
        }
    </script>
</head>

<body>
<style type="text/css">
    form {
        width: 600px;
        margin: auto;
    }

    form legend {
        font-size: 20px;
        text-align: center;
    }

    form p span {
        font-size: 13px;
        color: rgb(0, 60, 255);
        font-style: italic;
    }

    form .final_btn {
        text-align: center;
    }
</style>
<!--가입성공 메세지-->
<!--<script th:if="${successMessage}">-->
<!--    alert("님 회원가입 완료!\n사용 이메일 : ");-->
<!--    //var userName = document.getElementById('u_name').value;-->
<!--    //var userEmail = document.getElementById('u_email').value;-->
<!--    //alert(userName+"님 회원가입 완료!\n사용 이메일 : "+userEmail);-->
<!--</script>-->

<!--가입실패 메세지1-->
<script th:if="${errorMessage1}">

    alert("가입 실패 : 올바르지 않은 값 삽입\nex)이메일, 생년월일, 전화번호 양식 및 비밀번호 확인");

</script>

<!--가입실패 메세지2-->
<script th:if="${errorMessage2}">

    alert("가입 실패 : 사용중인 이메일 입니다.\n 이메일 중복 확인 재시도");

</script>


<form name="join_form" th:action="@{/account/signuptest}" th:object="${userReqDTO}" method="post" id="join_form" onsubmit="return form_check()">
    <fieldset>
        <legend>일반회원 회원가입</legend>
        <p>
            <label for="u_name">이름</label>
            <input type="text" name="userName" id="u_name">
            <br>
            <span class="err_name"></span>
        </p>
        <p>
            <label for="u_email">이메일</label>
            <input type="email" name="userEmail" id="u_email">
            <button type="button" id="checkEmailButton" onclick="checkEmailDuplication()">이메일 중복확인</button>
            <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()" disabled>인증번호 전송</button>
            <br>
            <span class="err_id">* ex) aaa@aaa.com</span>
            <br>
        <div id="emailMessage"></div>
        <div class="form-group" id="mail_number" name="mail_number">
            <input type="text" name="number" id="number" class="form-control" style="width:250px; margin-top: -10px"
                   placeholder="인증번호 입력"/>
            <span id="mail-check-warn"></span>
            <button type="button" name="confirmBtn" id="confirmBtn" style="margin-top: 20px" onclick="confirmNumber()">
                인증 확인
            </button>
            <br>
            <input type="text" id="Confirm" name="Confirm" style="display: none" value=""/>
        </div>
        </p>
        <!--이메일 중복체크 스크립트-->
        <script>
            $(document).ready(function() {
                $('#checkEmailButton').click(function() {
                    var email = $('#u_email').val();

                    $.get('/api/account/checkEmail', { email: email }, function(response) {
                        $('#emailMessage').text(response);
                    });
                });
            });
        </script>
        <p>
            <label for="pwd">비밀번호</label>
            <input type="password" name="passwd" id="pwd">
            <br>
        </p>
        <p>
            <label for="repwd">비밀번호 확인</label>
            <input type="password" name="repwd" id="repwd">
            <br>
            <span class="err_repwd"></span>
        </p>
        <p>
            <label for="birth">생년월일</label>
            <input type="text" name="birth" id="birth">
            <br>
            <span class="err_birth">* ex)19700101 - 8자리로 입력</span>
        </p>

        <p>
            <label for="mobile">전화번호</label>
            <input type="text" name="phone" id="mobile">
            <br>
            <span class="err_mobile">* '-'없이 숫자만 입력</span>
        </p>
        <p>
            <input type="checkbox" name="privacyState" id="agree" value="1">
            <label for="agree">약관 동의</label>
            <br>
            <span class="err_agree">* 필수</span>
        </p>
        <p class="final_btn">
            <a href= "http://localhost/account/loginpage" class="btn">취소</a>
            <button type="submit" id="signupButton" class="btn" disabled>회원가입</button>
        </p>
    </fieldset>
</form>

</body>
</th:block>
</html>