<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<th:block layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--로그인 성공 alert-->
<script th:if="${loginok}">
    alert("로그인 성공!");
</script>



<<h2 class="resumeH2 text-center">기업 회원 목록</h2>
<button onclick="location.href='/account/loginpagev'">로그아웃</button>
<table border="1">
    <tr>
        <th>SEQ</th>
        <th>ID</th>
        <th>Vender Name</th>
        <th>Vender Email</th>
        <th>Vender CreatedDt</th>
        <th>Vender UpdateDt</th>
        <th>Vender Logo</th>

    </tr>
    <tr th:each="vender, venderState : ${venders}">
        <td th:text="${venderState.count}"></td> <!-- index는 0부터 , count가 1부터 -->
        <td th:text="${vender.venderId}"></td>
        <td th:text="${vender.venderName}"></td>
        <td th:text="${vender.venderEmail}"></td>
        <td th:text="${#temporals.format(vender.createDt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#temporals.format(vender.updateDt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${vender.photo}"></td>


    </tr>
</table>

</body>
</th:block>
</html>