<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">


<th:block layout:fragment="content">
    <div class="container search">
        <form th:action="@{/job_post/jobSearch}" method="get">
            <a th:href="@{/job_post/jobSearch}"><i class="fa-solid fa-magnifying-glass"></i></a>
            <input type="text" name="keyword" placeholder="검색어를 입력해주세요">
        </form>
    </div>
    <div class="main_vs container">
        <img th:src="@{/img/banner.png}">
    </div>
    <!--div class="block">
        <img class="title_Img" th:src="@{/img/logo/mainImg.jpg}" alt="title background" sizes="100vw" decoding="async" data-nimg="fill">
    </div-->
    <div class="container">

        <div class="block">
            <div class="job_container">
                <div class="job_item" th:each="jobList : ${jobList}">
                    <a th:href="@{/job_post/jobDetail/{id}(id=${jobList.id})}">
                        <div class="jobBox text-center">
                            <img class="jobBoxImg" th:src="@{/img/vender/} + ${jobList.venderResDTO.photo}" alt="회사로고이미지"/>
                        </div>
                        <p class="veName" th:text="${jobList.venderResDTO.venderName}"></p>
                        <p class="ellipsis" th:text="${jobList.title}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 10px">
            <div th:if="${jobList.totalPages > 1}">
                <ul class="pagination">
                    <li th:if="${jobList.hasPrevious}" class="page-item">
                        <a th:href="@{/job_post/jobList(page=0, size=${jobList.size})}" class="page-link">First</a>
                    </li>
                    <li th:if="${jobList.hasPrevious}" class="page-item">
                        <a th:href="@{/job_post/jobList(page=${jobList.number - 1}, size=${jobList.size})}"
                           class="page-link">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, jobList.totalPages - 1)}" class="page-item">
                        <a th:href="@{/job_post/jobList(page=${i}, size=${jobList.size})}" class="page-link"
                           th:text="${i + 1}"></a>
                    </li>
                    <li th:if="${jobList.hasNext}" class="page-item">
                        <a th:href="@{/job_post/jobList(page=${jobList.number + 1}, size=${jobList.size})}"
                           class="page-link">Next</a>
                    </li>
                    <li th:if="${jobList.hasNext}" class="page-item">
                        <a th:href="@{/job_post/jobList(page=${jobList.totalPages - 1}, size=${jobList.size})}"
                           class="page-link">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--container-->
</th:block>
</html>