<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">

<th:block layout:fragment="content">
    <div class="container sch_container" th:if="${jobSearch != null}">
        <!-- Select 옵션으로 정렬 -->
        <form th:action="@{/job_post/jobSearch}" method="get">
            <select id="sortSelect" name="sortOption">
                <option value="default" th:selected="${sortOption == 'default'}">전체 공고</option>
                <option value="dateAsc" th:selected="${sortOption == 'dateAsc'}">등록순</option>
                <option value="etDesc" th:selected="${sortOption == 'etDesc'}">마감일순</option>
            </select>
            <input type="text" name="keyword" placeholder="검색" th:value="${keyword}">
            <input type="button" value="submit" onclick="this.form.submit()">
        </form>
        <p th:if="${keyword}"><span th:text="${keyword}"></span>에 대한 취업정보</p>
        <div th:each="jobPost : ${jobSearch.content}">
            <a th:href="@{/job_post/jobDetail/{id}(id=${jobPost.id})}">
                <img th:if="${jobPost.venderResDTO != null}" th:src="@{/img/vender/} + ${jobPost.venderResDTO.photo}" alt="회사로고이미지"/>
                <p th:if="${jobPost.venderResDTO != null}" th:text="${jobPost.venderResDTO.venderName}"></p>
                <p th:text="${jobPost.title}"></p>
            </a>
        </div>
        <div th:if="${jobSearch.content.empty}">
            <p>검색 결과가 없습니다.</p>
        </div>
    </div>
</th:block>
</html>