<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<!--Header 영역을 참조합니다.-->
<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
<th:block layout:fragment="content">
    <table>
        <tr>
            <th>증명사진:</th>
            <td><img th:src="${resume.photoUrl}"  style="max-width: 100px; height: auto;"/></td>
        </tr>
        <tr>
            <th>이름:</th>
<!--            <td th:text="${resume.userEntity.name}"></td>-->
        </tr>
        <tr>
            <th>우편번호:</th>
            <td th:text="${resume.addr_num}"></td>
        </tr>
        <tr>
            <th>도로명주소:</th>
            <td th:text="${resume.addr_basic}"></td>
        </tr>
        <tr>
            <th>상세주소:</th>
            <td th:text="${resume.addr_detail}"></td>
        </tr>
        <tr>
            <th>스킬:</th>
            <td th:text="${resume.skill}"></td>
        </tr>
        <tr>
            <th>최종학력:</th>
            <td th:text="${resume.final_education}"></td>
        </tr>
        <tr>
            <th>이력서 공개여부:</th>
            <td th:text="${resume.state_resume}"></td>
        </tr>
        <tr>
            <th>연락처 공개여부:</th>
            <td th:text="${resume.state_contact}"></td>
        </tr>
        <tr>
            <th>자격증:</th>
            <td th:text="${resume.certification}"></td>
        </tr>
        <tr>
            <th>경력:</th>
            <td th:text="${resume.work_exp}"></td>
        </tr>
        <tr>
            <th>해외경험:</th>
            <td th:text="${resume.overseas_exp}"></td>
        </tr>
        <tr>
            <th>어학:</th>
            <td th:text="${resume.language_skill}"></td>
        </tr>
        <tr>
            <th>포트폴리오:</th>
            <td th:text="${resume.portfolio}"></td>
        </tr>
        <tr>
            <th>깃주소:</th>
            <td th:text="${resume.git_addr}"></td>
        </tr>
        <tr>
            <th>병역:</th>
            <td th:text="${resume.military_service}"></td>
        </tr>
        <tr>
            <th>자소서이름:</th>
            <td th:text="${resume.resume_title_1}"></td>
        </tr>
        <tr>
            <th>자소서내용:</th>
            <td th:text="${resume.resume_content_1}"></td>
        </tr>

    </table>
    <a th:href="@{/userResume/edit/{id}(id=${resume.id})}">>>>>>>이력서수정</a>
    <br/>
    <a th:href="@{'/userResume/delete/' + ${resume.id}}" th:onclick="'return confirmDelete(\'' + ${resume.id} + '\');'" >이력서삭제</a>


</th:block>
</body>
<script>
    function confirmDelete(id) {
        if (confirm("정말로 삭제하시겠습니까?")) {
            window.location.href = '/userResume/delete/' + id;
        }
    }
</script>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>