<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<th:block layout:fragment="content">
    <h2>내 이력서</h2>
    <div class="table_container">
        <button class="create-resume-button" onclick="location.href='/userResume/showCreateResumePage'">
            이력서 작성하기
        </button>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>사진</th>
                <th>이력서 제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resume : ${userResumes}">
                <td th:text="${resume.id}"></td>
                <td>
                    <img th:src="${resume.photoUrl}" alt="증명사진" style="max-width: 100px; height: auto;"/>
                </td>
                <td>
                    <a th:href="@{/userResume/showDetailForm/{id}(id=${resume.id})}"
                       th:text="${resume.resume_title_1}"></a>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</th:block>
</html>